@charset "utf-8";
/* CSS Document */
#mnu ul{background-color: purple;color: white;font-family:"Impact","Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif"; margin: 0px;padding: 0px; list-style: none}
#mnu ul li{display:inline-block;text-decoration: none;padding: 0px;}
#mnu ul li a:hover{background-color: aqua;color: royalblue;}
#mnu ul li a{color: white;text-decoration: none;padding: 10px;display: block}
h1{background-color: purple;color: white;font-family:"Impact","Haettenschweiler","Franklin Gothic Bold", "Arial Black", "sans-serif"}
header,footer{background-color:;opacity: 0.8; border-style: solid;border-radius: 20px;padding: 5px;text-align: center;}
.main{height: 9px;}
#foter p{background-color: purple;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";color: white;padding:50px;}
body{background-image:url("../img/fondo/fondo.jpg");background-position: center;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
.baner{background-color:white;opacity: 0.8;border-style: solid;border-radius: 20px;padding: 0px;text-align: center;font-size: 450%;height: 90px;overflow: hidden}
.baner ul{list-style: none;padding-left: 10px;animation: cambiar 10s infinite;}
@keyframes cambiar{
	
	0%{color: black;margin-top: 0px;font-family:"Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	0%{color: white;margin-top: -84px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	10%{color: white;margin-top: -84px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	15%{color: black;margin-top: -84px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	20%{color: white;margin-top: -84px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	25%{color: white;margin-top: -170px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	30%{color: black;margin-top: -170px;font-family:  "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	35%{color: white;margin-top: -170px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	40%{color: white;margin-top: -259px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	45%{color: black;margin-top: -259px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	50%{color: white;margin-top: -259px;font-family:  "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	55%{color: white;margin-top: -350px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	55%{color:black;margin-top: -350px;font-family:  "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	55%{color: white;margin-top: -352px;font-family:  "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	60%{color:white;margin-top: -352px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	65%{color:black;margin-top: -352px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
	
	70%{color:white;margin-top: -352px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
 	75%{color:white;margin-top: -0px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }

	
	100%{color: black;margin-top: -0px;font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif" }
}
.separador{height: 9px;}
.cursos{background-color:;border-style:solid;opacity: 0.8;border-radius: 20px;padding: 10px;text-align: center;height:cover}
#cursos ul{list-style:none;background-color:}
#cursos ul li{padding: 10px;background-color:}
#cursos ul li a{text-decoration: none; border-style: solid;border-radius: 20px;padding: 0px;font-family: "Impact","Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";font-size: 30px;color:white;background-color:grey;padding: 5px}
#cursos ul li a:hover{color: white;background-color:purple}

