<header class="header">
	<img id="logo" href="#"src="./img/ico/vidaysalud.png"></img>
	<nav class="nav">
		<button class="nav-toggle" aria-label="Abrir-menu">
		<i class="fa-solid fa-bars"></i>
		</button>
			<ul class="nav-menu">
			<li class="nav-menu-item">
			 <a class="nav-menu-link nav-link nav-menu-link_active" href="/home">Inicio</a>
			</li>
			<li class="nav-menu-item">
			 <a class="nav-menu-link nav-link nav-menu-link_active" href="/agregar_pedido">Agregar pedido</a>
			</li>
            {{>liCS}}
			<ul>
            {{>botonCS}}
	</nav>

</header>