<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Actualizar productos</title>
<link rel="icon" type="image/icon" href="./img/ico/vidaysalud.ico">
<link rel="stylesheet" href="./assets/css/inicio.css">
<link rel="stylesheet" href="./assets/css/fontello/css/fontello.css">
<script src="https://kit.fontawesome.com/5b0a1a1a16.js" crossorigin="anonymous"></script>
<script defer src="./assets/js/menu.js"></script>

</head>
<body>
{{>header_adm}}
<div id="dvusuario">Bienvenido</div>
<div id="productos">
    
    <table id="tablap" border="1">
    <tr></tr><th>Nombre del producto</th><th>Inventario</th><th>precio compra</th><th>precio venta</th></tr>
    </table>
</div>
<div id="dvfrmprod">
    <form id="frmP">
        <p id="lblnp">Nombre del producto:</p><select name="productos" class="listp" id="np" ><option value="default">Seleciona un prodcuto</option></select>
        <p id="lblcant">cantidad:</p><input id="cant" placeholder="Ingresa cantidad a agregar">
        <p id="lblpc">precio compra:</p><input id="pc" placeholder="ingresa el precio compra del producto">
        <p id="lblpv">precio venta:</p><input id="pv" placeholder="Ingresa el precio venta del producto">
        <button type="button" id="btreg" onclick="enviar()" class="btnregistrar" >Actualizar</button>
    </form>
</div>
<script>
let AuthVS = JSON.parse(localStorage.getItem('AuthVS'));
console.log(AuthVS);
fetch('/actualizar_productos', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json' // Tipo de contenido
        },
        body: JSON.stringify(AuthVS) // Datos a enviar
    }).then(response => {
        if (response.ok) {
            return response.text();
        } else {
            alert("A ocurrido un error inesperado!");
			 window.location.href="/login";
            throw new Error('Error en la llamada Ajax');
        }
    })
    .then(data => {
        console.log('Respuesta del servidor:', data);
        let datosjson = JSON.parse(data);
        if(datosjson.msg == "sucess"){
			let AuthVS = JSON.parse(localStorage.getItem('AuthVS'));  
			AuthVS.usuario = datosjson.usuario;
			console.log(JSON.stringify(AuthVS));
			localStorage.setItem("AuthVS",JSON.stringify(AuthVS));
			let usuario = AuthVS.usuario;
			let puser = document.getElementById("dvusuario");
			puser.innerText= "Bienvenid@ "+usuario+" actualiza productos del inventario";
            let productos = datosjson.productos;
            let tablap = document.getElementById("tablap");
            let lista = document.getElementById("np");
            let i = 0;
            let strlist = `<option value="Opcion default">Selecciona un producto</option>`;
            productos.forEach(function(producto) {
            var fila = tablap.insertRow(-1);
            var nombre_producto = fila.insertCell(0);
            var cantidad = fila.insertCell(1);
            var precio_compra = fila.insertCell(2);
            var precio_venta = fila.insertCell(3);

            nombre_producto.innerHTML = producto.nombre_del_producto;
            cantidad.innerHTML = producto.cantidad;
            strlist = strlist + `<option value="${producto.nombre_del_producto}">${producto.nombre_del_producto}</option>`
            lista.innerHTML = strlist
            precio_compra.innerHTML = "$"+parseFloat(producto.Precio_compra);
            precio_venta.innerHTML = "$"+parseFloat(producto.Precio_venta);
            i += 1;

            

});

        }else{
            alert(datosjson.msg);
            window.location.href="/login";
        }

    })
    .catch(error => {
        console.error('Error:', error);
    });
 
</script>
<script src="./assets/js/validarActP.js"></script>
<main>
</main>
</body>
{{>footer}}
</html>