<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agregar productos</title>
<link rel="icon" type="image/icon" href="./img/ico/vidaysalud.ico">
<link rel="stylesheet" href="./assets/css/inicio.css">
<link rel="stylesheet" href="./assets/css/fontello/css/fontello.css">
<script src="https://kit.fontawesome.com/5b0a1a1a16.js" crossorigin="anonymous"></script>
<script defer src="./assets/js/menu.js"></script>

</head>
<body>
{{>header_adm}}
<div id="dvusuario">Bienvenido</div>
<div id="productos">
    
    <table id="tablap" border="1">
    <tr></tr><th>Nombre del producto</th><th>Inventario</th><th>precio compra</th><th>precio venta</th></tr>
    </table>
</div>
<div id="dvfrmprodAP">
    <form id="frmP">
        <p id="lblnp">Nombre del producto:</p>

 <style>
	
    .view {
      display: none;
    }


    .active {
      display: block;
    }

 </style>
	<div id="PN" class="view">
	 <input id="Np" placeholder="ingresa un nombre para el producto">
  </div>

	<div id="PE" class="view active">
    <select  name="productos" class="listp" id="pE" ><option value="default">Seleciona un prodcuto</option></select>
  </div>

<style>
  .linea-producto {
    display: flex;
    justify-content: space-between; /* separa el texto y el checkbox */
    align-items: center; /* alinea verticalmente */
    max-width: 300px; /* ajusta según tu diseño */
  }

  .linea-producto input[type="checkbox"] {
    width: 30px;
  }
</style>


<div class="linea-producto">
  <p>Producto nuevo</p>
	<input type="checkbox" id="producto_nuevo" style="width: 50px;" >
</div>

<script>
  const checkbox_Nuevo_Producto = document.getElementById('producto_nuevo');

  checkbox_Nuevo_Producto.addEventListener('change', function () {
    const boton = document.getElementById('btregAG');
    if (checkbox_Nuevo_Producto.checked) {
      console.log('El producto es nuevo');
      Mostrar("PN")

      boton.setAttribute('onclick', 'enviar(2)');
          document.getElementById("pc").value = "";
          document.getElementById("pv").value = "";
          document.getElementById("pc").disabled = false;
          document.getElementById("pv").disabled = false;

    } else {
      console.log('Producto existente');
      // Aquí puedes manejar cuando se desactive
      Mostrar("PE");
      boton.setAttribute('onclick', 'enviar(1)');
    }
  });

    function Mostrar(id) {

      document.querySelectorAll('.view').forEach(v => v.classList.remove('active'));
     
      document.getElementById(id).classList.add('active');
     

    }

const log = () => {
  console.log("select change");
  
    let select = document.getElementById("pE");
    let np = select.options[select.selectedIndex].value
    let npJSON = JSON.parse(np);
    console.log(npJSON);

    document.getElementById("pc").value = npJSON.precio_compra;
    document.getElementById("pv").value = npJSON.precio_venta;

    document.getElementById("pc").disabled = true;
    document.getElementById("pv").disabled = true;

  }

["pE"].forEach(id => {
  document.getElementById(id).addEventListener("input", log);
});

</script>


        <p id="lblcant">Cantidad:</p><input id="cant" placeholder="Ingresa cantidad a agregar">
        <p id="lblpc">Precio compra:</p><input id="pc" placeholder="ingresa el precio compra del producto">
        <p id="lblpv">Precio venta:</p><input id="pv" placeholder="Ingresa el precio venta del producto">
        <button type="button" id="btregAG" onclick="enviar(1)" class="btnregistrar" >Agregar</button>
    </form>
</div>
<script>
let AuthVS = JSON.parse(localStorage.getItem('AuthVS'));
console.log(AuthVS);
fetch('/agregar_productos', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json' // Tipo de contenido
        },
        body: JSON.stringify(AuthVS) // Datos a enviar
    }).then(response => {
        if (response.ok) {
            return response.text();
        } else {
            alert("A ocurrido un error inesperado!");
			 window.location.href="/login";
            throw new Error('Error en la llamada Ajax');
        }
    })
    .then(data => {
        console.log('Respuesta del servidor:', data);
        let datosjson = JSON.parse(data);
        if(datosjson.msg == "sucess"){
			let AuthVS = JSON.parse(localStorage.getItem('AuthVS'));  
			AuthVS.usuario = datosjson.usuario;
			console.log(JSON.stringify(AuthVS));
			localStorage.setItem("AuthVS",JSON.stringify(AuthVS));
			let usuario = AuthVS.usuario;
			let puser = document.getElementById("dvusuario");
			puser.innerText= "Bienvenid@ "+usuario+" agrega productos nuevos o existentes al inventario";
            let productos = datosjson.productos;
            let tablap = document.getElementById("tablap");
            let lista = document.getElementById("pE");
            let i = 0;
            let strlist = `<option value="Opcion default">Selecciona un producto</option>`;
            productos.forEach(function(producto) {
            var fila = tablap.insertRow(-1);
            var nombre_producto = fila.insertCell(0);
            var cantidad = fila.insertCell(1);
            var precio_compra = fila.insertCell(2);
            var precio_venta = fila.insertCell(3);

            nombre_producto.innerHTML = producto.nombre_del_producto;
            cantidad.innerHTML = producto.cantidad;
  
            strlist = strlist + `<option id="${producto.nombre_producto}" value='{"nombre_del_producto":"${producto.nombre_del_producto}","cantidad":${producto.cantidad},"precio_compra":${producto.Precio_compra},"precio_venta":${producto.Precio_venta}}'>${producto.nombre_del_producto}</option>`
            lista.innerHTML = strlist
            precio_compra.innerHTML = "$"+parseFloat(producto.Precio_compra);
            precio_venta.innerHTML = "$"+parseFloat(producto.Precio_venta);
            i += 1;

}); 

        }else{
            alert(datosjson.msg);
            window.location.href="/login";
        }

    })
    .catch(error => {
        console.error('Error:', error);
    });
 
</script>



<script src="./assets/js/validarfrmregP.js"></script>
<main>
</main>
</body>
{{>footer}}
</html>
