<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="icon" type="image/icon" href="./img/ico/vidaysalud.ico">
<link rel="stylesheet" href="./assets/css/inicio.css">
<link rel="stylesheet" href="./assets/css/fontello/css/fontello.css">
<script src="https://kit.fontawesome.com/5b0a1a1a16.js" crossorigin="anonymous"></script>
<script defer src="./assets/js/menu.js"></script>
</head>

<body>

{{>header}}

<main>
</main>
	<a href="https://api.whatsapp.com/send?phone=525582541206" class="btn-wsp" target="_blank"><i class="icon-whatsapp"></i></a>
</body>
<footer>
<p>Todos los derechos reservados Vida y Salud 2022<p>
</footer>
</html>