<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<link rel="icon" type="image/icon" href="./img/ico/vidaysalud.ico">
<link rel="stylesheet" href="./assets/css/registro.css">
<link rel="stylesheet" href="./assets/css/fontello/css/fontello.css">
<script src="https://kit.fontawesome.com/5b0a1a1a16.js" crossorigin="anonymous"></script>
<script defer src="./assets/js/menu.js"></script>
</head>

<body>
<header class="header">
	<img id="logo" href="#"src="./img/ico/vidaysalud.png"></img>
	<nav class="nav">
		<button class="nav-toggle" aria-label="Abrir-menu">
		<i class="fa-solid fa-bars"></i>
		</button>
			<ul class="nav-menu">
			<li class="nav-menu-item">
			 <a class="nav-menu-link nav-link nav-menu-link_active" href="/home">Inicio</a>
			</li>
			<li class="nav-menu-item">
			 <a class="nav-menu-link nav-link nav-menu-link_active" href="/registro">Registro</a>
			</li>

			<ul>	
	</nav>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</header>
<div class="login">
	<div class="titulo-registro">
	<p class="tituloR">Registrate</p>
	</div>
	<form class="fregistro" id="frmreg" action="" method="">
	<p id="lblu" class="lbllogin">Crear Usuario</p><input placeholder="Ingresa tu nombre o usuario" id="u" name="usuario" type="text">
		<p id="lblp1" class="lbllogin" >Crear password</p><input placeholder="Ingresa tu password" id="p1" name="pass1" type="password">
		<p  id="lblp2" class="lbllogin">Confirma password</p><input placeholder="confirma tu password" id="p2" name="pass2" type="password">
	<input type="submit" id="btreg" class="btnregistrar" >
	</form>
<script >
	document.getElementById('frmreg').reset();	

	document.getElementById('btreg').addEventListener('click', (e) => {
    e.preventDefault();
    const formulario = document.getElementById('frmreg');
	let u = document.getElementById('u').value;
	let p1 = document.getElementById('p1').value;
	let p2 = document.getElementById('p2').value;
	let c1 = 0;
	let c2 = 0;
	let c3 = 0;
	if( u.length == 0){
	 document.getElementById('lblu').style.color="red";
	 document.getElementById('u').style.borderBlockColor="red";
	 c1=1;
	}else{
		document.getElementById('lblu').style.color="green";
	    document.getElementById('u').style.borderBlockColor="green";
	    c1=0;
	}
	if ( p1.length == 0) {
		document.getElementById('lblp1').style.color="red";
		document.getElementById('p1').style.borderBlockColor="red";
		c2=1;
		}else{
			document.getElementById('lblp1').style.color="green";
		    document.getElementById('p1').style.borderBlockColor="green";
			c2=0
		}
	if ( p2.length == 0) {
		document.getElementById('lblp2').style.color="red";
		document.getElementById('p2').style.borderBlockColor="red";
		c3=1;
		}else{
		document.getElementById('lblp2').style.color="geen";
		document.getElementById('p2').style.borderBlockColor="green";
		c3=0;
		}
	if(p1 != p2){
		c2 = 3;
		c3 = 4;
	}
	
	if( c1 == 1 || c2 == 1 || c3 == 1){
		alert("Faltan datos");
	}
	if(  c2 == 3 || c3 == 4){
		alert("No coincide confirmacion password");
		document.getElementById('lblp2').style.color="red";
		document.getElementById('p2').style.borderBlockColor="red";
	}
	
	if( c3 == 0){
		document.getElementById('lblp2').style.color="green";
		document.getElementById('p2').style.borderBlockColor="green";
	}
	

	if(c1 == 0 && c2 == 0 && c3 == 0){
		

	$.ajax({
    url: '/validar_registro?usuario='+u+'&password='+p1,
    method: "POST",
	data: { data: {"usuario":u,"password":p1} },
    success: function(data) {
        if (data.success) {
			document.getElementById('frmreg').reset();	
            alert("Usuario creado");
        }
    },
    error: function() {
        alert("¡Ups! este usuario ya existe.");
    }
});



	}

	
});


</script>
</div>
</body>
<footer>
<p>Todos los derechos reservados Vida y Salud 2022<p>
</footer>
</html>