<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Titulo</title>
<link rel="icon" type="image/icon" href="img/ico/vidaysalud.ico">
<link rel="stylesheet" href="./css/registro.css">
</head>

<body>
<header>
<div>
<img id="logo" src="./img/ico/vidaysalud.png" height="300px"> 
<div id="mnu">
<ul>
<li><a href="../">Inicio</a></li>
<li><a href="cursos/actualizando.html">¿MAs?</a></li>
<li><a href="cursos/actualizando.html">Productos</a></li>
<li><a href="cursos/actualizando.html">Ingresar</a></li>
</ul>
</div>
</div>
</header>

<div class="separador"></div>

<div class="separador"></div>

<div class="main"></div>
<div id="foter">
<footer>
<p>Todos los derechos reservados VidaySalud 2022<br/>Calle 53 164 Santa Cruz Meyehualco</p>
</footer>
</div>
</body>
</html>
