	/* CSS Document */
header,footer{background-color:;opacity: 0.8; border-style: solid;border-radius: 20px;padding: 10px;text-align:center}
#nosotros {background-color:;opacity: 0.8; border-style: solid;border-radius: 20px;padding: 10px;text-align:center}
	
